.App {
  text-align: center;
}
*{
  box-sizing: border-box;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}
p{
  font-size: 1rem;
  margin: 0px;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

input{
  height:40px;
  width:400px;
  padding-left:10px;
  border:none;
}
button{
  margin-left:10px;
  height:42px;
  color:white;
  background: #f25a6c;
  border:none;
  width:100px;
  cursor: pointer;
}
@media (max-width:991px){
  form{
    width: 92%;
  }
  .App-logo{
    height:30vh;
  }
  input{
    width:100%;
  }
  button{
    width:100%;
    margin: 0px;
    margin-top: 10px;
  }
}
h5{
  margin-bottom: 10px;
}